.modal-root {
    /* position: absolute;
    top: 10%;
    left: 30%; */
    position: fixed;
    top: 4%;
    left: 23%;
    z-index: 10;

    /* background-color: white; */
    height: 90vh;
    width: 55vw;

    /* border: 2px solid black; */
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-imageData {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-imageData p {
    font-weight: 700;
    font-size: 24px;
    margin-top: -10%;
}

.modal-content img {
    /* width: 50%;
    height: 80%; */
    border-radius: 5%;
}

.modal-content > p {
    position: absolute;
    right: 50px;
    top: 100px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.modal-navigation {
    position: fixed;
    bottom: 80px;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.modal-navigation button {
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    margin: 0 10%;
    padding: 2px 10px;
}