.grey-out {
    opacity: 50%;
}

.photos-group {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: -100px;
    row-gap: -50px; */
    /* column-count: 4;
    column-gap: 1em; */

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.single-photo {
    /* width: 20rem;
    height: 20rem; */
    border-radius: 10px;
    cursor: pointer;
    /* background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%; */
}

.masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
  }
  .masonry-grid_column {
    padding-left: 15px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .masonry-grid_column > div {
    margin: 15px auto;
  }